<%= link_to "Facebook Login", '/auth/facebook' %><br />
<%= link_to "Google Login", '/contacts/gmail'%>
<% if !@contacts.nil?%>
  <% @contacts.each do |c|%>
    <ul>
      <li><%= c[:name]%> : <%= c[:email]%></li>
    </ul>
  <%end%>
<%end%>
