<%#= link_to "Facebook Login", '/auth/facebook' %>
<a href="/contacts/gmail">Gmail</a>
<% if !@contacts.nil?%>
  <% @contacts.each do |c|%>
    <ul>
      <li><%= c[:name]%> : <%= c[:email]%></li>
    </ul>
  <%end%>
<%end%>
