<%#= image_tag @user['picture']['data']['url'].to_s %>
<%#= @user['name'] %>
<% if @friends.present?%>
  <% @friends.each do |friend| %>
    <ul>
      <li><%= friend.name %></li>
    </ul>
  <%end%>
<%else%>
  You do not have any friends.
<%end%>

